@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
    z-index: 2;
}

section {
    width: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    padding: 10rem 0;
}

#bg-curved {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

/* Styles */

header {
    width: 100%;
    padding: 3rem 5%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(217, 28%, 15%);
}
nav ul li {
    display: inline-block;
    margin-left: 3rem;
}
nav ul li a{
    color: #fff;
}

/* 

WELCOME SEC

*/

#welcome {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 3rem 0;
    background: hsl(217, 28%, 15%);
}
#welcome h1 {
    font-size: 3rem;
    margin: 5rem 0;
}
#welcome p {
    font-size: 1.6rem;
}
#welcome a {
    color: #fff;
    background: hsl(198, 60%, 50%);
    padding: .7rem 4rem;
    border-radius: 2rem;
    display: inline-block;
    margin-top: 2rem;
}

/* 

ABOUT SECTION

*/
#about {
}
#about .container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about .about-item {
    width: 25%;
    text-align: center;
    color: #fff;
}
.about-item h4 {
    font-size: 1.5rem;
    margin: .5rem 0;
    margin-top: 1.5rem;
}
.about-item p {
    width: 85%;
    margin: auto;
}

.top-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-abt {
    margin-top: 10rem;
}


/* 

PRODUCTİVE SECTİON

*/

#productive .container {
    display: flex;
    align-items: center;
    color: #fff;
}
#productive img {
    min-width: 50%;
    margin-right: 5%;
}
#productive #productive-text h2 {
 font-size: 3rem;
}
#productive #productive-text p {
    font-size: 1.5rem;
    margin-top: 2rem;
}
#productive a {
    display: inline-block;
    margin-top: 2rem;
    padding: .5rem 0;
    background-color: transparent;
    color: hsl(176, 68%, 64%);
    border: none;
    outline: none;
    border-bottom: 1px solid hsl(176, 68%, 64%);
}


/*  COMMENTS */

#comments .container {
    display: flex;
    justify-content: center;
}

.comment-item {
    width: 25%;
    color: #fff;
    text-align: left;
    background-color:hsl(219, 30%, 18%);
    padding: 3rem 2rem 2rem 2rem;
    box-shadow: 4px 4px 0 4px rgba(0, 0, 0, .1);
    margin-right: 3%;
    position: relative;
    z-index: 7;
}
.comment-footer {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.comment-footer h6{
    font-size: 1rem;
}
.comment-footer img {
    width: 30px;
    border-radius: 100%;
    margin-right: 1rem;
}
.comment-author p{
    font-size: .8rem;
    margin-top: .2rem;
    color: rgba(255, 255, 255, .6);
}
.comment-item:nth-child(1)::before {
    content: url("images/bg-quotes.png");
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    z-index: 4;
}


/* 

Access form

*/

#early-access {
    width: 50%;
    margin:auto;
    text-align: center;
    color: #fff;
    padding: 3rem 5rem 2rem 5rem;
    background: hsl(217, 28%, 15%);
    border-radius: 1rem;
    box-shadow: 4px 4px 0 4px rgba(0, 0, 0, .1);
}
#early-access h3 {
    font-size: 2rem;
}
#early-access p {
    margin: 1.5rem 0;
}
#access-form {
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top: 3rem;
}
#early-access #access-form input {
    width: 70%;
    display: inline-block;
    margin-right: 2%;
    font-size: 1.4rem;
    border-radius: 2rem;
    border: none;
    padding: .6rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#early-access #access-form button {
    width: 25%;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background: hsl(198, 60%, 50%);
    color: #fff;
    font-size: 1rem;
    border-radius:2rem;
    border: none;
}